@page
@model Ragnarock_App.GetAllDisplaysModel
@{
}

<h1>Get All Displays</h1>
<style>
    td {
        font-size: 24px;
    }
</style>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Udstilling
            </th>
            <th>
                Score
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.displays)
        {
            <tr>
                <td>
                    <img src="~/ImageFiles/@item.Value.ImageFile" width="200" height="200">
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    Rating: @item.Value.Rating
                </td>
                <td>
                    <p>

                        <a asp-page="CurrentDisplay" asp-route-id="@item.Key">View Display</a>
                    </p>

                </td>
            </tr>
        }
    </tbody>

</table>