@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til RDP</h1>
    
    <img src="~/ImageFiles/Museum_Ragnarock.jpg" alt="" height="450" width="600" />
</div>
<div class="text-sm-center">
    <p>Læs mere omkring <a href="https://museumragnarock.dk/">MUSEET FOR POP, ROCK OG UNGDOMSKULTUR</a>.</p>
</div>
