@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem";
}
<div class="text-center">
    <h1 class="display-4">Velkommen til RDP</h1>
    
    <img src="~/ImageFiles/Museum_Ragnarock.jpg" alt="" height="450" width="600" />
</div>
<div class="text-lg-center center">
        <a href="/Display/CurrentDisplay?id=1" class="start"> Start Tour</a>
</div>
