@page
@model Ragnarock_App.Pages.Om_osModel
@{
    ViewData["Title"] = "Om os";
}
<div class="text-center">
    <h1 class="display-4">Om arkitekturen</h1>
    <br />
</div>
    <div class="align-text-top">
        <p style="line-height:1.2;font-size:23px">
            Stjernearkitekterne i hollandske MVRDV og danske COBE er de kreative hoveder bag RAGNAROCKS ikoniske bygning. Der både udadtil og indadtil understreger den historie og stemning, som museet formidler.
            Ved at fremhæve rockens rå side med brug af ubehandlede, robuste materialer, kombinere elementer fra områdets tidligere betonfabrikshaller med nye elementer i skarpe kontraster og tilføje hint af rockens glamourøse side med en guldnittet facade afspejler bygningen både udadtil og indadtil den historie og stemning, som museet formidler.
            “Den røde løber” kickstarter besøgsoplevelsen med forskellige aktiviteter som leder op til museumsbygningen. Fremme ved museet træder man ind i museets rockende røde foyer og velkomstområde, hvorfra man kan gå på opdagelse i museets tilbud
        </p>
    </div>
<div class=" text-center">
    <img src="~/ImageFiles/Museum_Ragnarock.jpg" alt="" height="450" width="600" />
</div>
    <br />
    <div class="align-bottom-center">
        <a asp-page="/Display/GetAllDisplays">Displays </a>
        <a asp-page="/Index">Hjem</a>
    </div>
   

